body {
  font-family: 'Inder', sans-serif;
  background-color: #95B2EB;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
}
a {
  font-family: 'Fenix', serif;
}
/*Refactoring Bootstrap container*/
.jumbotron-fluid {
  min-height: 350px;
  margin: 0;
}
/*Styles for page*/
.banner {
  height: 90vh;
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center center;
}
.bannercontrast {
  height: inherit;
  width: 100%;
  background-image: linear-gradient(120deg, rgba(253,251,251,0.3) 0%, rgba(235,237,238,0.6) 100%);
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url(../images/avatar.jpg);
  background-size: cover;
  background-position: center center;
}
.avatarbig {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-image: url(../images/avatar.jpg);
  background-size: cover;
  background-position: center center;
}
.typer {
  font-weight: 400;
}
.header {
  height: 150px;
  color: #FFF;
}
/*Ribbon styles*/
.ribbon {
  background: #3c485f;
  height: 55px;
  width: 150px;
  display: inline-block;
  padding: 0;
  margin: auto 0;
  position: relative;
  color: #fff;
  line-height: 55px;
  font-size: 25px;
  text-align: center;
}
.ribbon:before{
  content: '';
  border: 27.5px solid #3c485f;
  border-left-color: transparent;
  border-left-width: 30px;
  position: absolute;
  top: 0;
  left: -55px;
}
.ribbon:after {
  content: '';
  border: 27.5px solid #3c485f;
  border-right-color: transparent;
  border-right-width: 30px;
  position: absolute;
  top: 0;
  right: -55px;
}
/*Particles styles*/
.particles-js-canvas-el {
  position: absolute;
  z-index: -10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
/*Special styles for cards*/
.card {
  min-width: 250px;
  max-width: 400px;
  margin-top: 15px;
}
.Icard {
  min-width: 250px;
  max-width: 300px;
  margin: 10px 0;
}
.Icard .card-img-main {
  height: 200px;
  width: 100%;
  background-image: url(../images/avatar.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*width: auto;*/
}



/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  nav#mainNav {
    height: 10vh;
  }
  .jumbotron .container {
    max-width: 500px;
    margin: auto 0;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1100px) {
  .jumbotron .container {
    max-width: 700px;
  }

}

@media (min-width: 1200px) {
  .jumbotron .container {
    max-width: 850px;
  }
  .lead {
    padding: 0;
  }
}