body {
  font-family: 'Inder', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika', sans-serif;
}
a {
  font-family: 'Fenix', serif;
}
.banner {
  height: 100vh;
  background-image: url(../images/1.jpg);
  background-size: cover;
  background-position: center center;
}
.bannercontrast {
  height: inherit;
  width: 100%;
  background-image: linear-gradient(120deg, rgba(253,251,251,0.3) 0%, rgba(235,237,238,0.6) 100%);
}
.avatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-image: url(../images/avatar.jpg);
  background-size: cover;
  background-position: center center;
}
.avatarbig {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-image: url(../images/avatar.jpg);
  background-size: cover;
  background-position: center center;
}
.typer {
  font-weight: 400;
}
.header {
  height: 150px;
  background-image: url(../images/banbck.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}
#first,
#second {
  min-height: 900px;
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}